<div class="app-wrapper">
  <label><strong>Slider: </strong> (no event bindings)</label>
  <br>
  <slider-item></slider-item>
  <br>
  <label><strong>Yes-No-Item: </strong>(with event bindings) </label>
  <br>
  <yes-no-item id="yes-no-item" data="" state=""></yes-no-item>

  <div title="state area" style="border: dotted; margin-top: 20px; padding: 20px; padding-top: 0;">
    <span style="position: relative; top: -12px; font-size: medium;">
      <strong style="background-color: white; padding-left: 3px; padding-right: 3px;">
      Backend</strong>
    </span>
    <p><strong>Current state: </strong><span id="currStateSpan"> {{serverState}}</span> </p>
    <label name="state changer"><strong>Change state:</strong></label>
    <input name="state changer" id="state-changer" style="margin-left: 10px;"/>
  </div>


</div>